/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * FlapjacksAndSasquatches implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * flapjacksandsasquatches.css
 *
 * FlapjacksAndSasquatches stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (flapjacksandsasquatches_flapjacksandsasquatches.tpl), and to HTML elements you create dynamically
    (in flapjacksandsasquatches.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

/* Game area */
#flapjacksandsasquatches_game_area {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Center area */
#center_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

/* Decks */
.deck {
    width: 72px;
    height: 96px;
    background: #ddd;
    border: 2px solid #999;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('img/cards.jpg'); /* Using existing card style */
    background-size: cover;
}

/* Player areas */
#player_areas {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player_area {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.player_name {
    font-weight: bold;
    margin-bottom: 10px;
}

.player_hand {
    min-height: 120px;
    margin: 10px 0;
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
}

.player_play_area {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.tree_area, .equipment_area, .cut_pile {
    min-height: 96px;
    min-width: 72px;
    border: 1px dashed #999;
    border-radius: 5px;
    padding: 10px;
}

/* Card styles */
.card {
    width: 72px;
    height: 96px;
    background: white;
    border: 1px solid #999;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
    background-image: url('img/cards.jpg'); /* Using existing card style */
    background-size: cover;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Chop tokens */
.chop_token {
    width: 20px;
    height: 20px;
    background: #8B4513;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Preserve existing playertablecard style */
.playertablecard {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
    background-image: url('img/cards.jpg');
}




